<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" position="end">
    <div class="Items">
      <img class="avatar" src="/assets/Images/user.png" />
    </div>
    <br *ngIf="!logedUser" />
    <div class="Items">
      <p *ngIf="logedUser">{{service.userDetails?.fullName}}</p>
    </div>
    <mat-divider *ngIf="logedUser"></mat-divider>
    <div class="Items">
      <mat-list-item *ngIf="!logedUser">
        <mat-icon>account_circle</mat-icon>
        <a routerLink="register" routerLinkActive="active">Register</a>
      </mat-list-item><br>
    </div>
    <div class="Items">
      <mat-list-item *ngIf="!logedUser">
        <mat-icon>login</mat-icon>
        <a [bcRouterLink]="['login']" bcRouterLinkActive="active" [navigationDelay]="1000">Login</a>
      </mat-list-item>
    </div>
    <mat-list-item *ngIf="logedUser">
      <mat-icon mat-list-icon>star</mat-icon>
      <a routerLink="favorite" routerLinkActive="active">Favorites</a><br>
    </mat-list-item>
    <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" *ngIf="logedUser" routerLink="usersLists"
      routerLinkActive="active">
      <a class="full-width" *ngIf="isExpanded || isShowing">Show More Lists</a>
      <mat-icon mat-list-icon>bookmarks</mat-icon>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more
      </mat-icon>
    </mat-list-item><br>
    <div *ngIf="showSubmenu">
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <mat-icon mat-list-icon>bookmark</mat-icon>
        <a mat-list-item href="...">Submenu Item 1</a><br>
        <mat-icon mat-list-icon>bookmark</mat-icon>
        <a mat-list-item href="...">Submenu Item 2</a>
      </div>
    </div>
    <mat-list-item *ngIf="logedUser">
      <mat-icon>movie</mat-icon>
      <a routerLink="usersMovie" routerLinkActive="active">Add a Movie</a>
    </mat-list-item><br>
    <mat-list-item *ngIf="logedUser">
      <mat-icon>exit_to_app</mat-icon>
      <a (click)="onLogout()">Logout</a>
    </mat-list-item>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="logo" routerLink="/" (click)="refresh()">
      </span>
      <span class="menu_button">
        <button mat-icon-button (click)="opened=!opened">
          <mat-icon position="end">menu</mat-icon>
        </button>
      </span>
    </mat-toolbar><br><br><br><br><br><br>
    <div *ngIf="!router.url.includes('movie')" class="container">
      <div *ngIf="!router.url.includes('favorite')" class="container">
        <div *ngIf="!router.url.includes('usersLists')" class="container">
          <div *ngIf="!router.url.includes('register')" class="container">
            <div *ngIf="!router.url.includes('login')" class="container">
              <div class="form-group">
                <label for="query">Search for a Movie</label>
                <input id="query" type="text" class="form-control" [(ngModel)]="query"
                  (keyup.enter)="getSearchResults()">
              </div> <br>
              <button type="button" (click)="getSearchResults()" class="form-control btn btn-primary">Search</button>
              <hr>
              <div class="row">
                <app-movie-search *ngFor="let movie of movies$ | async" [movie]="movie"
                  class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                </app-movie-search>
              </div>
                <div *ngIf="!movies$" class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let mov of serviceM.movie">
                    <div class="card">
                      <img [src]="mov?.poster" class="card-img-top" [alt]="mov?.title">
                      <div class="card-body">
                        <h5 class="card-title">{{ mov?.title | uppercase}}</h5>
                        <p class="card-text"> {{ mov?.title }}</p>
                        <a routerLink="movie" [queryParams]="{ movieId: mov?.imdbId }" class="btn btn-secondary">
                          Details </a>
                      </div>
                    </div>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>