
    <hr>
    <form #form="ngForm" (submit)="onSubmit(form)" style="margin-left: 2%; margin-right: 2%;">
        <div class="form-group">
            <label style="font-size: medium">List name</label>
            <input type="text" class="form-control form-control-lg" #listName="ngModel" name="listName"
                style="font-size: x-larger;" [(ngModel)]="service.formData.listName">
        </div><br>
        <div class="form-row text-center">
            <div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block position-center"
                    style="font-size: x-large">ADD</button>
            </div>
        </div>
    </form>
    <hr>
