@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";



body, html {
  font-family: Roboto, sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden; 
} 

.container {
  height: 75vh;
  overflow: scroll;

}

.container1 {
  margin-top: -30%;
  margin-left: 8%;
  margin-right: 8%;
  height: 75vh;
  overflow: scroll;

}

.container::-webkit-scrollbar { 
  display: none; 
}

.container1::-webkit-scrollbar { 
  display: none; 
}


.box-div {
  border-radius: 10px 10px 10px 10px;
  background: rgb(245, 219, 182);;
  width: 90%;
  max-width: 450px;
  position: relative;
  border: 10px solid transparent;
  border-image: url(./assets/Images/border-vertical.png) 70 round;
}

.box-divM {
  border-radius: 10px 10px 10px 10px;
  background: rgb(245, 219, 182);
  width: 100%;
  position: relative;
  border: 10px solid transparent;
  border-image: url(./assets/Images/border-vertical.png) 70 round;
}

.box-divMC {
  border-radius: 10px 10px 10px 10px;
  background: rgb(245, 219, 182);
  width: 100%;
  position: relative;
  border: 10px solid transparent;
  border-image: url(./assets/Images/border-vertical.png) 70 round;
}

.wrapper {
  display:flex;
    align-items: left;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.list-group, .list-group-item{
  background-color: rgb(245, 219, 182);
}

.tab-header{
  text-align: center;
}

.tab-header h1.active {
  color: rgb(0, 0, 0);
  border-bottom: 4px solid rgb(0, 0, 0);
}

.tab-header h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h1:focus {
    outline: none;
}


#srcBtn {
  width: 10%;
  border-radius: 0px 13px 13px 0px;
}

.backgroundImg {
    height: 100vh;
    max-width: 100%;
    background: url(./assets/Images/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

mat-sidenav-container {
    height: 100vh;
    background: url(./assets/Images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrowClick {
    height: 40vh;
    width: 15vh;
    background: url(./assets/Images/click.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.arrowClick:hover {
  transform: translate3d(0, -10px, 0);
}

.arrowEdit {
  height: 15vh;
  width: 40vh;
  background: url(./assets/Images/edit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform .2s;
}

.arrowEdit:hover {
  transform: translate3d(-10px, 0, 0);
}

mat-sidenav {
    font-size: x-large;
    background-color: rgb(0, 0, 0);
    max-width: 300px;
    padding: 20px;
    line-height: 1.8;
}

.mat-toolbar.mat-primary {
  background: #ffffff00;
}

.Items {
    display: flex;
    justify-content: center;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

mat-toolbar {
    border-style: solid;
    border-bottom-color: #07070742;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding-bottom: 0.7%;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    
}

a.logo {
  height: 90%;
  width: 280px;
  background: url(./assets/Images/logoFullWhite.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.logoBlack {
  height: 200px;
  width: 600px;
  background: url(./assets/Images/logoFull.png);
  background-size: 100% 100%;
  margin-top: 5%;
  margin-left: 10%;
  transition: transform .2s;
  background-repeat: no-repeat;
}


button.popcorn {
  background: url(./assets/Images/popcorn.png);
  height: 250px;
  width: 250px;
  background-size: 100% 100%;
  margin-top: -90%;
  margin-left: 40%;
  transition: transform .2s;
  background-repeat: no-repeat;
  border-bottom: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.popcorn:hover{
  transform: scale(1.3);
}

button.popcorn:disabled,
button.popcorn[disabled]{
  background: url(./assets/Images/popcornNo.png);
  height: 250px;
  width: 250px;
  background-size: 100% 100%;
  margin-top: -90%;
  margin-left: 40%;
  transition: transform .2s;
  background-repeat: no-repeat;
  border-bottom: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.logoBlack:hover{
  transform: scale(1.3);
}

span.menu_button {
    position: end;
}

#query {
  border-radius: 13px 0px 0px 13px;
}

.poster{
  max-width: 350px;
  max-height: 300px;
}

div.form-group input.invalid{
  border: 1px solid #dc3545; 
}

.help-block {
  color: red;
}

.card {
    margin-bottom: 15px;
    width: 200px;
    height: 320px;
    border: 10px solid transparent;
    border-radius: 13px 13px 13px 13px;
    z-index: 1;
    transition: transform .2s;
    border-image: url(./assets/Images/border-vertical.png) 70 round;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

.card:hover {
  transform: translate3d(0, 10px, 0);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.7);
}
  
.card-img-top {
    height: 200px;
    object-fit: cover;
  }

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }

.submenu.expanded {
    transform: scaleY(1);
  }

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }

.menu-button.rotated {
    transform: rotate(180deg);
  }

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
}

mat-icon {
    transform: scale(1.3);
    margin-right: 15px;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: gray;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: black;
}

#img1 {
  border: 15px solid transparent;
  border-image: url(./assets/Images/border-vertical.png) 50 round;
}

