<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>List Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of service.usersList">
                <td (click)="getUsersListMovie(list.id)">{{list.listName}}</td>
            </tr>
            <tr>
                <td routerLink="addList" routerLinkActive="active">+ Add new list</td>
            </tr>
        </tbody>
    </table><br><router-outlet></router-outlet><hr>
    <div *ngFor="let fav of service.favList" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{{fav.Poster}}" class="card-img-top">
            <div class="card-body">
                <p class="card-text"> {{ fav.Title }}</p>
            </div>
        </div>
    </div>
</div>
